@model IEnumerable<S2G6_PVFAPP.Models.Does_Business_In>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Territory.territoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Territory.territoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.businessID }) |
            @Html.ActionLink("Details", "Details", new { id=item.businessID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.businessID })
        </td>
    </tr>
}

</table>
