@model IEnumerable<S2G6_PVFAPP.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productStandardPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Line.productlineName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productFinish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productStandardPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Line.productlineName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productID })
        </td>
    </tr>
}

</table>
