@model IEnumerable<S2G6_PVFAPP.Models.Raw_Material>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.materialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materialStandardCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materialUnitOfCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.materialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materialStandardCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materialUnitOfCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.materialID }) |
            @Html.ActionLink("Details", "Details", new { id=item.materialID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.materialID })
        </td>
    </tr>
}

</table>
