@model IEnumerable<S2G6_PVFAPP.Models.Supply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplyUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raw_Material.materialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.vendorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.supplyUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raw_Material.materialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.vendorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.supplyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.supplyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.supplyID })
        </td>
    </tr>
}

</table>
