@model S2G6_PVFAPP.Models.Produced_In

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produced_In</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work_Center.workcenterLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_Center.workcenterLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.producedinID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
